<template>
  <div class="app-home-wrapper">
    <app-side-bar/>
    <div class="content-wrapper">
      <router-view/>
    </div>
  </div>
</template>

<script>
import AppSideBar from '@/components/AppSideBar';

export default {
  name: 'AppHome',
  components: {
    AppSideBar,
  },
};
</script>

<style scoped>
.app-home-wrapper {
  display: flex;
  height: 100vh;
}

.side-bar-wrapper {
  flex: 0 0 180px;
  overflow: auto;;
}

.content-wrapper {
  flex: 9 9 auto;
  overflow: auto;

  background-color: #19223C;
}
</style>

