<template>
  <div class="new-wallet-wrapper">
    <h3>Add new wallet</h3>
    <form class="wallet-info-form"
    @submit="onWalletInfoFormSubmit">
      <div class="form-item">
        <label>Wallet name</label>
        <br/>
        <input type="text"
        placeholder="Wallet Name"/>
      </div>
      <div class="form-item">
        <label>Address</label>
        <br/>
        <input type="text"
        placeholder="0x1f3wkfgis7sd65j"/>
      </div>
      <div class="form-item">
        <label>Coin</label>
        <br/>
        <input type="text"
        placeholder="BTC, Bitcoin"/>
      </div>
      <app-button
      type="submit">
        Add Wallet
      </app-button>
    </form>
  </div>
</template>

<script>
import AppButton from '@/components/AppButton';

export default {
  name: 'NewWallet',
  components: {
    AppButton,
  },
  methods: {
    onWalletInfoFormSubmit(event) {
      event.preventDefault();
    },
  },
};
</script>

<style scoped>
.new-wallet-wrapper {
  height: 100vh;
  text-align: center;

  padding: 1em 4em 0;
}

.wallet-info-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item {
  margin: 1em 0;
  text-align: left;
}

.form-item label {
  margin-right: 1em;

  font-weight: bold;
}

.wallet-info-form input {
  padding: 0.5em 1.0em;
  width: 300px;

  border-radius: 4px;
  border: none;
  outline: none;

  font-size: 1em;
  color: white;

  background-color: #2D3969;
}
</style>
