<template>
  <div class="title-bar-wrapper">
    <span>Blockchain Manager</span>
  </div>
</template>

<script>
export default {
  name: 'TitleBar',
};
</script>

<style scoped>
.title-bar-wrapper {
  height: 30px;
  padding: 0.4em 0;

  -webkit-app-region: drag;
  z-index: 10;

  font-weight: bold;
  background-color: #041126;
}
</style>
