<template>
  <div class="wallet-button-wrapper"
  :class="{ selected: isSelected }">
    <div>
      <slot/>
      <span class="address">
        ({{ walletAddress }})
      </span>
    </div>

  </div>
</template>

<script>
export default {
  name: 'WalletButton',
  props: {
    isSelected: {
      type: Boolean,
      required: false,
      default: false,
    },
    walletAddress: {
      type: String,
      required: false,
      default: '0x1h7...a04',
    },
  },
};
</script>

<style scoped>
.wallet-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 50px;

  padding: 0 0.5em;
  margin: 1em 0;

  opacity: 0.7;
}

.wallet-button-wrapper:hover {
  background-color: #222947;
  opacity: 1.0;
  cursor: pointer;
}

.wallet-button-wrapper.selected {
  background-color: #222947;
  opacity: 1.0;
  cursor: pointer;
}
</style>
